asgiref==3.8.1
Django==5.1.2
django-suit @ https://github.com/darklow/django-suit/tarball/v2#sha256=b40c916de9528ca86bcccd42d1fd54e7773e5071d2bfd9efc576039c1a441c0b
django-widget-tweaks==1.5.0
psycopg2-binary==2.9.10
sqlparse==0.5.1
typing_extensions==4.12.2
